<%- include('./partials/head') %>

<main>
    <section class="intro-contain">
        <h2>Blog</h2>
        <h1>We love web</h1>
    </section>

    <section class="search-contain">
        <p>Search blogs</p>
        <form action="/" method="GET" class="search-bar" id="search-bar">
          <input type="search" name="searchTerm" id="search-term" placeholder="Search blogs..." list="title-list" autocomplete="off">
          <datalist id="title-list"></datalist>
          <button type="submit">
            <svg width="33" height="30" viewBox="0 0 33 30">
              <path d="M32.087 20.1807L29.196 17.2907C29.9886 16.1549 30.4569 14.777 30.4569 13.288C30.4569 9.4193 27.3208 6.28314 23.4521 6.28314C19.5834 6.28314 16.4473 9.4193 16.4473 13.288C16.4473 17.1566 19.5834 20.2928 23.4521 20.2928C24.9411 20.2928 26.3191 19.8244 27.4548 19.0319L30.3448 21.9219C30.8261 22.4032 31.6057 22.4032 32.087 21.9219C32.5673 21.4415 32.5673 20.662 32.087 20.1807ZM23.4521 18.2914C20.6892 18.2914 18.4487 16.0509 18.4487 13.288C18.4487 10.5251 20.6892 8.28453 23.4521 8.28453C26.215 8.28453 28.4555 10.5251 28.4555 13.288C28.4555 16.0509 26.215 18.2914 23.4521 18.2914Z" fill="#1400FF"/>
              <line x1="1.42767" y1="0.0740967" x2="1.42767" y2="29.6852" stroke="#888888"/>
            </svg>
          </button>
        </form>
        <p>34 Blogs by 7 Authors</p>
      </section>
      
    
    <section class="filter-contain">
        <div>
            <button>
                <svg width="68" height="16" viewBox="0 0 68 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.0114 13V1.36364H35.7159V3.39205H30.4716V6.16477H35.2045V8.19318H30.4716V13H28.0114ZM37.3253 13V4.27273H39.7457V13H37.3253ZM38.5412 3.14773C38.1813 3.14773 37.8726 3.02841 37.6151 2.78977C37.3613 2.54735 37.2344 2.25758 37.2344 1.92045C37.2344 1.58712 37.3613 1.30114 37.6151 1.0625C37.8726 0.820075 38.1813 0.698863 38.5412 0.698863C38.901 0.698863 39.2079 0.820075 39.4616 1.0625C39.7192 1.30114 39.848 1.58712 39.848 1.92045C39.848 2.25758 39.7192 2.54735 39.4616 2.78977C39.2079 3.02841 38.901 3.14773 38.5412 3.14773ZM44.1051 1.36364V13H41.6847V1.36364H44.1051ZM50.6861 4.27273V6.09091H45.4304V4.27273H50.6861ZM46.6236 2.18182H49.044V10.3182C49.044 10.5417 49.0781 10.7159 49.1463 10.8409C49.2145 10.9621 49.3092 11.0473 49.4304 11.0966C49.5554 11.1458 49.6993 11.1705 49.8622 11.1705C49.9759 11.1705 50.0895 11.161 50.2031 11.142C50.3168 11.1193 50.4039 11.1023 50.4645 11.0909L50.8452 12.892C50.724 12.9299 50.5535 12.9735 50.3338 13.0227C50.1141 13.0758 49.8471 13.108 49.5327 13.1193C48.9493 13.142 48.438 13.0644 47.9986 12.8864C47.563 12.7083 47.224 12.4318 46.9815 12.0568C46.7391 11.6818 46.6198 11.2083 46.6236 10.6364V2.18182ZM56.1463 13.1705C55.2486 13.1705 54.4759 12.9886 53.8281 12.625C53.1842 12.2576 52.688 11.7386 52.3395 11.0682C51.991 10.3939 51.8168 9.59659 51.8168 8.67614C51.8168 7.77841 51.991 6.99053 52.3395 6.3125C52.688 5.63447 53.1785 5.10606 53.8111 4.72727C54.4474 4.34848 55.1937 4.15909 56.0497 4.15909C56.6255 4.15909 57.1615 4.25189 57.6577 4.4375C58.1577 4.61932 58.5933 4.89394 58.9645 5.26136C59.3395 5.62879 59.6312 6.09091 59.8395 6.64773C60.0478 7.20076 60.152 7.84848 60.152 8.59091V9.25568H52.7827V7.75568H57.8736C57.8736 7.4072 57.7978 7.09848 57.6463 6.82955C57.4948 6.56061 57.2846 6.35038 57.0156 6.19886C56.7505 6.04356 56.4418 5.96591 56.0895 5.96591C55.7221 5.96591 55.3963 6.05114 55.1122 6.22159C54.8319 6.38826 54.6122 6.61364 54.4531 6.89773C54.294 7.17803 54.2126 7.49053 54.2088 7.83523V9.26136C54.2088 9.69318 54.2884 10.0663 54.4474 10.3807C54.6103 10.6951 54.8395 10.9375 55.1349 11.108C55.4304 11.2784 55.7808 11.3636 56.1861 11.3636C56.455 11.3636 56.7012 11.3258 56.9247 11.25C57.1482 11.1742 57.3395 11.0606 57.4986 10.9091C57.6577 10.7576 57.7789 10.572 57.8622 10.3523L60.1009 10.5C59.9872 11.0379 59.7543 11.5076 59.402 11.9091C59.0535 12.3068 58.6027 12.6174 58.0497 12.8409C57.5005 13.0606 56.866 13.1705 56.1463 13.1705ZM61.7315 13V4.27273H64.0781V5.79545H64.169C64.3281 5.25379 64.5952 4.8447 64.9702 4.56818C65.3452 4.28788 65.777 4.14773 66.2656 4.14773C66.3868 4.14773 66.5175 4.1553 66.6577 4.17045C66.7978 4.18561 66.9209 4.20644 67.027 4.23295V6.38068C66.9134 6.34659 66.7562 6.31629 66.5554 6.28977C66.3546 6.26326 66.1709 6.25 66.0043 6.25C65.6482 6.25 65.33 6.32765 65.0497 6.48295C64.7732 6.63447 64.5535 6.84659 64.3906 7.11932C64.2315 7.39205 64.152 7.70644 64.152 8.0625V13H61.7315Z" fill="white"/>
                <g clip-path="url(#clip0_0_1)">
                <path d="M12.5288 3.04585C10.9525 3.04585 9.37611 3.04812 7.79976 3.04267C7.64414 3.04222 7.5679 3.084 7.50691 3.2402C7.14545 4.16973 6.28529 4.7537 5.31213 4.7487C4.31743 4.74371 3.48015 4.1602 3.12138 3.2066C3.0707 3.07128 3.00119 3.04313 2.87517 3.04404C2.15046 3.04812 1.42574 3.04948 0.701021 3.04404C0.312203 3.04131 0.0413303 2.802 0.00455622 2.44554C-0.0393933 2.02051 0.242691 1.70809 0.685773 1.70491C1.40287 1.70037 2.12041 1.70083 2.8375 1.70582C2.97249 1.70673 3.04649 1.67676 3.1021 1.53463C3.47477 0.583301 4.2986 0.00841823 5.2776 -0.000209551C6.24135 -0.00883733 7.11316 0.566954 7.49211 1.48876C7.5688 1.67494 7.66656 1.70764 7.84146 1.70718C10.9121 1.70264 13.9827 1.704 17.0534 1.704C17.1283 1.704 17.2027 1.7031 17.2776 1.704C17.7081 1.71082 17.9978 1.97964 17.9983 2.37288C17.9987 2.76658 17.709 3.04358 17.2803 3.04449C15.8161 3.04721 14.3514 3.0454 12.8871 3.0454C12.7674 3.0454 12.6481 3.0454 12.5284 3.0454L12.5288 3.04585ZM6.34001 2.38696C6.34449 1.79891 5.88661 1.32756 5.31168 1.32801C4.74437 1.32801 4.28425 1.78847 4.27797 2.36199C4.27124 2.94504 4.73271 3.41912 5.30899 3.42139C5.87405 3.42366 6.33597 2.96048 6.34001 2.38742V2.38696Z" fill="white"/>
                <path d="M5.75558 7.05978C7.4297 7.05978 9.10381 7.05797 10.7775 7.06296C10.9331 7.06342 11.008 7.02209 11.069 6.86634C11.4291 5.94135 12.2794 5.35784 13.2409 5.35602C14.2324 5.35421 15.0791 5.93408 15.4478 6.88178C15.5003 7.01619 15.5612 7.06569 15.7048 7.06342C16.2205 7.05479 16.7362 7.05887 17.2515 7.06024C17.7018 7.0616 17.9951 7.32543 17.9982 7.72594C18.0009 8.12736 17.7076 8.39845 17.2605 8.40072C16.7447 8.40345 16.229 8.40572 15.7137 8.39891C15.5769 8.39709 15.5052 8.43205 15.4505 8.57237C15.076 9.52688 14.2378 10.1049 13.249 10.1058C12.2534 10.1068 11.4282 9.52915 11.0493 8.54467C10.986 8.38074 10.8829 8.40208 10.7676 8.40208C8.75715 8.40163 6.74714 8.40208 4.73667 8.40208C3.3989 8.40208 2.06113 8.4039 0.723366 8.40072C0.289702 8.39981 0.00447841 8.13054 0.00133917 7.73366C-0.00180008 7.33723 0.269969 7.06523 0.689283 7.0616C1.31713 7.0566 1.94498 7.06024 2.57238 7.06024C3.63345 7.06024 4.69496 7.06024 5.75603 7.06024L5.75558 7.05978ZM13.2741 8.77762C13.8382 8.7758 14.3024 8.30854 14.3069 7.73729C14.3118 7.16014 13.8391 6.68288 13.2642 6.68425C12.6852 6.68561 12.2444 7.13244 12.2404 7.7214C12.2368 8.31036 12.6956 8.77989 13.2736 8.77807L13.2741 8.77762Z" fill="white"/>
                <path d="M14.1262 14.2858C13.0727 14.2858 12.0193 14.2885 10.9658 14.2826C10.8192 14.2817 10.7452 14.318 10.6869 14.4683C10.3151 15.4274 9.46303 16.0068 8.46206 16C7.48171 15.9932 6.65475 15.406 6.28835 14.4343C6.22736 14.2726 6.12915 14.2858 6.01075 14.2858C4.24739 14.2858 2.48448 14.2867 0.72112 14.2849C0.294182 14.2849 0.0138921 14.031 0.000438169 13.6437C-0.0134642 13.2386 0.264135 12.9562 0.692418 12.9548C1.65617 12.9512 2.61992 12.9539 3.58367 12.9535C4.39808 12.9535 5.21249 12.9507 6.0269 12.9562C6.1574 12.9571 6.21794 12.9199 6.26817 12.79C6.63771 11.8364 7.48754 11.2442 8.46295 11.2456C9.45092 11.247 10.2949 11.83 10.6613 12.7827C10.7214 12.9389 10.8084 12.9557 10.9461 12.9557C13.0382 12.953 15.1298 12.9503 17.2219 12.9598C17.3982 12.9607 17.595 13.0148 17.7453 13.106C17.978 13.2473 18.0502 13.5651 17.9641 13.8344C17.8789 14.1005 17.6497 14.2771 17.3533 14.2826C16.9277 14.2903 16.5017 14.2853 16.0756 14.2853C15.4258 14.2853 14.7755 14.2853 14.1257 14.2853L14.1262 14.2858ZM9.51909 13.621C9.51909 13.0434 9.04641 12.5711 8.47417 12.577C7.9091 12.5829 7.44494 13.0688 7.45077 13.6491C7.45615 14.204 7.91717 14.6627 8.47551 14.6681C9.04641 14.674 9.51953 14.1995 9.51909 13.621Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_0_1">
                <rect width="18" height="16" fill="white"/>
                </clipPath>
                </defs>
                </svg>            
            </button>
            <button>Pinned</button>
            <button>Latest</button>
            <button>Best</button>
        </div>
    </section>

    <section class="filter-blog-contain-wrapper">
        <section class="filter-contain-desktop">
            <h4>Filters</h4>
            <h5>Related Topics</h5>
            <div class="filter-buttons">
                <button>HTML</button>
                <button>CSS</button>
                <button>Technology</button>
                <button>JavaScript</button>
                <button>Coding</button>
                <button>Figma</button>
            </div>
            <div class="filter-authors">
                <h5>Author(s)</h5>
                <input type="checkbox" form="search-bar" name="authorId" value="Vera" id="Vera"><label for="Vera">Vera</label>
                <input type="checkbox" form="search-bar" name="authorId" value="Jasper" id="Jasper"><label for="Jasper">Jasper</label>
                <input type="checkbox" form="search-bar" name="authorId" value="Declan" id="Declan"><label for="Declan">Declan</label>
                <input type="checkbox" form="search-bar" name="authorId" value="Victor" id="Victor"><label for="Victor">Victor</label>
                <input type="checkbox" form="search-bar" name="authorId" value="340346" id="Joao"><label for="Joao">Joao</label>
            </div>

            <h5>Reading Time</h5> 
        </section>

        <section class="blog-contain">
            <% if (data && data.allBlogPosts && data.allBlogPosts.length > 0) { %>
                <% data.allBlogPosts.forEach(blogPost => { %>
                  <div class="blog-post">
                    <p class="publish-date-text"><%= blogPost.publishDate %></p>
                    <h4><%= blogPost.title %></h4>
                    <% if (blogPost.authors && blogPost.authors.length > 0) { %>
                      <ul>
                        <% blogPost.authors.forEach(author => { %>
                          <li>
                            <!-- <img src="<%= author.image.filename %>" alt="<%= author.name %>" width="<%= author.image.width %>" height="<%= author.image.height %>"> -->
                            <span>By <%= author.name %></span>
                          </li>
                        <% }); %>
                      </ul>
                    <% } %>
                  </div>
                <% }); %>
              <% } else { %>
                <p>No blog posts found.</p>
              <% } %>                       
        </section>
    </section>

    <section class="join-us-contain">
        <h3>Also in love with the web?</h3>
        <p>For us, that’s about technology and user experience. Fast, available for all, enjoyable to use. And fun to build. This is how our team bands together, adhering to the same values, to make sure we achieve a solid result for clients both large and small. Does that fit you?</p>
        <button>
            <svg width="124" height="14" viewBox="0 0 124 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.67045 0.863636H8.10227V8.97727C8.10227 9.72727 7.93371 10.3788 7.59659 10.9318C7.26326 11.4848 6.79924 11.911 6.20455 12.2102C5.60985 12.5095 4.91856 12.6591 4.13068 12.6591C3.42992 12.6591 2.79356 12.536 2.22159 12.2898C1.65341 12.0398 1.20265 11.661 0.869318 11.1534C0.535985 10.642 0.371212 10 0.375 9.22727H2.82386C2.83144 9.53409 2.89394 9.79735 3.01136 10.017C3.13258 10.233 3.29735 10.3996 3.50568 10.517C3.7178 10.6307 3.9678 10.6875 4.25568 10.6875C4.55871 10.6875 4.81439 10.6231 5.02273 10.4943C5.23485 10.3617 5.39583 10.1686 5.50568 9.91477C5.61553 9.66098 5.67045 9.34848 5.67045 8.97727V0.863636ZM14.0341 12.6705C13.1515 12.6705 12.3883 12.483 11.7443 12.108C11.1042 11.7292 10.6098 11.2027 10.2614 10.5284C9.91288 9.85038 9.73864 9.06439 9.73864 8.17045C9.73864 7.26894 9.91288 6.48106 10.2614 5.80682C10.6098 5.12879 11.1042 4.60227 11.7443 4.22727C12.3883 3.84848 13.1515 3.65909 14.0341 3.65909C14.9167 3.65909 15.678 3.84848 16.3182 4.22727C16.9621 4.60227 17.4583 5.12879 17.8068 5.80682C18.1553 6.48106 18.3295 7.26894 18.3295 8.17045C18.3295 9.06439 18.1553 9.85038 17.8068 10.5284C17.4583 11.2027 16.9621 11.7292 16.3182 12.108C15.678 12.483 14.9167 12.6705 14.0341 12.6705ZM14.0455 10.7955C14.447 10.7955 14.7822 10.6818 15.0511 10.4545C15.3201 10.2235 15.5227 9.90909 15.6591 9.51136C15.7992 9.11364 15.8693 8.66098 15.8693 8.15341C15.8693 7.64583 15.7992 7.19318 15.6591 6.79545C15.5227 6.39773 15.3201 6.08333 15.0511 5.85227C14.7822 5.62121 14.447 5.50568 14.0455 5.50568C13.6402 5.50568 13.2992 5.62121 13.0227 5.85227C12.75 6.08333 12.5436 6.39773 12.4034 6.79545C12.267 7.19318 12.1989 7.64583 12.1989 8.15341C12.1989 8.66098 12.267 9.11364 12.4034 9.51136C12.5436 9.90909 12.75 10.2235 13.0227 10.4545C13.2992 10.6818 13.6402 10.7955 14.0455 10.7955ZM19.9034 12.5V3.77273H22.3239V12.5H19.9034ZM21.1193 2.64773C20.7595 2.64773 20.4508 2.52841 20.1932 2.28977C19.9394 2.04735 19.8125 1.75758 19.8125 1.42045C19.8125 1.08712 19.9394 0.801136 20.1932 0.5625C20.4508 0.320075 20.7595 0.198863 21.1193 0.198863C21.4792 0.198863 21.786 0.320075 22.0398 0.5625C22.2973 0.801136 22.4261 1.08712 22.4261 1.42045C22.4261 1.75758 22.2973 2.04735 22.0398 2.28977C21.786 2.52841 21.4792 2.64773 21.1193 2.64773ZM26.6832 7.45455V12.5H24.2628V3.77273H26.5696V5.3125H26.6719C26.8651 4.80492 27.1889 4.40341 27.6435 4.10795C28.098 3.80871 28.6491 3.65909 29.2969 3.65909C29.9029 3.65909 30.4313 3.79167 30.8821 4.05682C31.3329 4.32197 31.6832 4.70076 31.9332 5.19318C32.1832 5.68182 32.3082 6.26515 32.3082 6.94318V12.5H29.8878V7.375C29.8916 6.84091 29.7552 6.42424 29.4787 6.125C29.2022 5.82197 28.8215 5.67045 28.3366 5.67045C28.0109 5.67045 27.723 5.74053 27.473 5.88068C27.2268 6.02083 27.0336 6.22538 26.8935 6.49432C26.7571 6.75947 26.687 7.07955 26.6832 7.45455ZM41.8622 12.6705C40.9796 12.6705 40.2164 12.483 39.5724 12.108C38.9323 11.7292 38.438 11.2027 38.0895 10.5284C37.741 9.85038 37.5668 9.06439 37.5668 8.17045C37.5668 7.26894 37.741 6.48106 38.0895 5.80682C38.438 5.12879 38.9323 4.60227 39.5724 4.22727C40.2164 3.84848 40.9796 3.65909 41.8622 3.65909C42.7448 3.65909 43.5062 3.84848 44.1463 4.22727C44.7902 4.60227 45.2865 5.12879 45.6349 5.80682C45.9834 6.48106 46.1577 7.26894 46.1577 8.17045C46.1577 9.06439 45.9834 9.85038 45.6349 10.5284C45.2865 11.2027 44.7902 11.7292 44.1463 12.108C43.5062 12.483 42.7448 12.6705 41.8622 12.6705ZM41.8736 10.7955C42.2751 10.7955 42.6103 10.6818 42.8793 10.4545C43.1482 10.2235 43.3509 9.90909 43.4872 9.51136C43.6274 9.11364 43.6974 8.66098 43.6974 8.15341C43.6974 7.64583 43.6274 7.19318 43.4872 6.79545C43.3509 6.39773 43.1482 6.08333 42.8793 5.85227C42.6103 5.62121 42.2751 5.50568 41.8736 5.50568C41.4683 5.50568 41.1274 5.62121 40.8509 5.85227C40.5781 6.08333 40.3717 6.39773 40.2315 6.79545C40.0952 7.19318 40.027 7.64583 40.027 8.15341C40.027 8.66098 40.0952 9.11364 40.2315 9.51136C40.3717 9.90909 40.5781 10.2235 40.8509 10.4545C41.1274 10.6818 41.4683 10.7955 41.8736 10.7955ZM53.3281 8.78409V3.77273H55.7486V12.5H53.4247V10.9148H53.3338C53.1368 11.4261 52.8092 11.8371 52.3509 12.1477C51.8963 12.4583 51.3414 12.6136 50.6861 12.6136C50.1027 12.6136 49.5895 12.4811 49.1463 12.2159C48.7031 11.9508 48.3565 11.5739 48.1065 11.0852C47.8603 10.5966 47.7353 10.0114 47.7315 9.32955V3.77273H50.152V8.89773C50.1558 9.41288 50.294 9.82008 50.5668 10.1193C50.8395 10.4186 51.205 10.5682 51.6634 10.5682C51.955 10.5682 52.2277 10.5019 52.4815 10.3693C52.7353 10.233 52.9399 10.0322 53.0952 9.76705C53.2543 9.50189 53.3319 9.17424 53.3281 8.78409ZM57.6847 12.5V3.77273H60.0312V5.29545H60.1222C60.2813 4.75379 60.5483 4.3447 60.9233 4.06818C61.2983 3.78788 61.7301 3.64773 62.2188 3.64773C62.34 3.64773 62.4706 3.6553 62.6108 3.67045C62.7509 3.68561 62.8741 3.70644 62.9801 3.73295V5.88068C62.8665 5.84659 62.7093 5.81629 62.5085 5.78977C62.3078 5.76326 62.1241 5.75 61.9574 5.75C61.6013 5.75 61.2831 5.82765 61.0028 5.98295C60.7263 6.13447 60.5066 6.34659 60.3438 6.61932C60.1847 6.89205 60.1051 7.20644 60.1051 7.5625V12.5H57.6847ZM72.5767 3.77273V5.59091H67.321V3.77273H72.5767ZM68.5142 1.68182H70.9347V9.81818C70.9347 10.0417 70.9688 10.2159 71.0369 10.3409C71.1051 10.4621 71.1998 10.5473 71.321 10.5966C71.446 10.6458 71.59 10.6705 71.7528 10.6705C71.8665 10.6705 71.9801 10.661 72.0938 10.642C72.2074 10.6193 72.2945 10.6023 72.3551 10.5909L72.7358 12.392C72.6146 12.4299 72.4441 12.4735 72.2244 12.5227C72.0047 12.5758 71.7377 12.608 71.4233 12.6193C70.84 12.642 70.3286 12.5644 69.8892 12.3864C69.4536 12.2083 69.1146 11.9318 68.8722 11.5568C68.6297 11.1818 68.5104 10.7083 68.5142 10.1364V1.68182ZM78.0369 12.6705C77.1392 12.6705 76.3665 12.4886 75.7188 12.125C75.0748 11.7576 74.5786 11.2386 74.2301 10.5682C73.8816 9.89394 73.7074 9.09659 73.7074 8.17614C73.7074 7.27841 73.8816 6.49053 74.2301 5.8125C74.5786 5.13447 75.0691 4.60606 75.7017 4.22727C76.3381 3.84848 77.0843 3.65909 77.9403 3.65909C78.5161 3.65909 79.0521 3.75189 79.5483 3.9375C80.0483 4.11932 80.4839 4.39394 80.8551 4.76136C81.2301 5.12879 81.5218 5.59091 81.7301 6.14773C81.9384 6.70076 82.0426 7.34848 82.0426 8.09091V8.75568H74.6733V7.25568H79.7642C79.7642 6.9072 79.6884 6.59848 79.5369 6.32955C79.3854 6.06061 79.1752 5.85038 78.9062 5.69886C78.6411 5.54356 78.3324 5.46591 77.9801 5.46591C77.6127 5.46591 77.2869 5.55114 77.0028 5.72159C76.7225 5.88826 76.5028 6.11364 76.3438 6.39773C76.1847 6.67803 76.1032 6.99053 76.0994 7.33523V8.76136C76.0994 9.19318 76.179 9.56629 76.3381 9.88068C76.5009 10.1951 76.7301 10.4375 77.0256 10.608C77.321 10.7784 77.6714 10.8636 78.0767 10.8636C78.3456 10.8636 78.5919 10.8258 78.8153 10.75C79.0388 10.6742 79.2301 10.5606 79.3892 10.4091C79.5483 10.2576 79.6695 10.072 79.7528 9.85227L81.9915 10C81.8778 10.5379 81.6449 11.0076 81.2926 11.4091C80.9441 11.8068 80.4934 12.1174 79.9403 12.3409C79.3911 12.5606 78.7566 12.6705 78.0369 12.6705ZM86.1108 12.6648C85.554 12.6648 85.0578 12.5682 84.6222 12.375C84.1866 12.178 83.8419 11.8883 83.5881 11.5057C83.3381 11.1193 83.2131 10.6383 83.2131 10.0625C83.2131 9.57765 83.3021 9.17045 83.4801 8.84091C83.6581 8.51136 83.9006 8.24621 84.2074 8.04545C84.5142 7.8447 84.8627 7.69318 85.2528 7.59091C85.6468 7.48864 86.0597 7.41667 86.4915 7.375C86.9991 7.32197 87.4081 7.27273 87.7188 7.22727C88.0294 7.17803 88.2547 7.10606 88.3949 7.01136C88.535 6.91667 88.6051 6.77652 88.6051 6.59091V6.55682C88.6051 6.19697 88.4915 5.91856 88.2642 5.72159C88.0407 5.52462 87.7225 5.42614 87.3097 5.42614C86.8741 5.42614 86.5275 5.52273 86.2699 5.71591C86.0123 5.9053 85.8419 6.14394 85.7585 6.43182L83.5199 6.25C83.6335 5.7197 83.857 5.26136 84.1903 4.875C84.5237 4.48485 84.9536 4.18561 85.4801 3.97727C86.0104 3.76515 86.6241 3.65909 87.321 3.65909C87.8059 3.65909 88.2699 3.71591 88.7131 3.82955C89.16 3.94318 89.5559 4.11932 89.9006 4.35795C90.2491 4.59659 90.5237 4.90341 90.7244 5.27841C90.9252 5.64962 91.0256 6.0947 91.0256 6.61364V12.5H88.7301V11.2898H88.6619C88.5218 11.5625 88.3343 11.803 88.0994 12.0114C87.8646 12.2159 87.5824 12.3769 87.2528 12.4943C86.9233 12.608 86.5426 12.6648 86.1108 12.6648ZM86.804 10.9943C87.16 10.9943 87.4744 10.9242 87.7472 10.7841C88.0199 10.6402 88.2339 10.447 88.3892 10.2045C88.5445 9.96212 88.6222 9.6875 88.6222 9.38068V8.45455C88.5464 8.50379 88.4422 8.54924 88.3097 8.59091C88.1809 8.62879 88.035 8.66477 87.8722 8.69886C87.7093 8.72917 87.5464 8.75758 87.3835 8.78409C87.2206 8.80682 87.0729 8.82765 86.9403 8.84659C86.6563 8.88826 86.4081 8.95455 86.196 9.04545C85.9839 9.13636 85.8191 9.25947 85.7017 9.41477C85.5843 9.56629 85.5256 9.75568 85.5256 9.98295C85.5256 10.3125 85.6449 10.5644 85.8835 10.7386C86.1259 10.9091 86.4328 10.9943 86.804 10.9943ZM92.9034 12.5V3.77273H95.2102V5.3125H95.3125C95.4943 4.80114 95.7973 4.39773 96.2216 4.10227C96.6458 3.80682 97.1534 3.65909 97.7443 3.65909C98.3428 3.65909 98.8523 3.80871 99.2727 4.10795C99.6932 4.40341 99.9735 4.80492 100.114 5.3125H100.205C100.383 4.8125 100.705 4.41288 101.17 4.11364C101.64 3.81061 102.195 3.65909 102.835 3.65909C103.65 3.65909 104.311 3.91856 104.818 4.4375C105.33 4.95265 105.585 5.68371 105.585 6.63068V12.5H103.17V7.10795C103.17 6.62311 103.042 6.25947 102.784 6.01705C102.527 5.77462 102.205 5.65341 101.818 5.65341C101.379 5.65341 101.036 5.79356 100.79 6.07386C100.544 6.35038 100.42 6.71591 100.42 7.17045V12.5H98.0739V7.05682C98.0739 6.62879 97.9508 6.28788 97.7045 6.03409C97.4621 5.7803 97.142 5.65341 96.7443 5.65341C96.4754 5.65341 96.233 5.72159 96.017 5.85795C95.8049 5.99053 95.6364 6.17803 95.5114 6.42045C95.3864 6.65909 95.3239 6.93939 95.3239 7.26136V12.5H92.9034ZM118.2 13.1364L116.882 11.8295L120.342 8.36932H112.234V6.44886H120.342L116.882 2.99432L118.2 1.68182L123.928 7.40909L118.2 13.1364Z" fill="white"/>
                </svg>                
        </button>
    </section>
</main>

<%- include('./partials/foot') %>


